[Unit]
Description=Reload soc_button_array to fix Surface Pro 10 buttons
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/sbin/rmmod soc_button_array
ExecStartPost=/sbin/modprobe soc_button_array
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
